html {
  width: 100%;
  height: 100%;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.cp {
  width: 100%;
  background-color: #cccccc;
  display: flex;
  justify-content: space-around;
}

.display {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  color: forestgreen;
}
